@page
@model OneSkate.Web.Pages.Races.ResultsModel
@{
}
<html>
<head>
    <h1 style="text-align:center">@Model.Race.Name</h1>
    <br />
</head>
<body>
    @{
        <table class="table">
            <thead>
                <tr>
                    <th>Racer</th>
                    <th>Previous rank</th>
                    <th>Set rank</th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                    @{
                        foreach (var result in Model.Race.Results)
                        {
                        <tr>
                            <td>
                                    @result.RacerName
                            </td>
                            <td>
                                    @if (result.Rank == 0)
                                    {

                                    <h7>Not ranked</h7>
                                    }
                                    else
                                    {
                                        @result.Rank
                                    }
                            </td>
                            <td>
                                    @Html.TextBoxFor(model => Model.Ranks,new{Required = "required",type="number"})
                                    @Html.ValidationMessageFor(model => Model.Ranks)
                            </td>
                        </tr>                            
                        }
                    }
                <button asp-route-id="@Model.Race.Id" class="btn btn-primary" type="submit">Save</button>
                </form>
            </tbody>
        </table>
    }


</body>
</html>