@page
@model OneSkate.Web.Pages.Races.ResultsModel
@{
}
<html>
<head>
</head>
<body>
    <h1 style="text-align:center">@Model.Race.Name</h1>
    <br />
    @{
        @if (!ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <h4>Error:</h4>
                <hr />
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v=> v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                        break;
                    }
                </ul>
            </div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Racer</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                    @{
                        for (int i= 0;i< Model.Race.Results.Count;i++)
                        {
                        <tr>
                            <td>
                                    @Model.Results[i].RacerName
                            </td>
                            <td>
                                    @Html.TextBoxFor(model => Model.Results[i].Rank,new{Required = "required",type="number"})
                                    @Html.ValidationMessageFor(model => Model.Results)
                            </td>
                        </tr>                            
                        }
                    }
                    <button asp-route-id="@Model.Race.Id" class="btn btn-primary" type="submit">Save</button>
                </form>
            </tbody>
        </table>
    }


</body>
</html>